In [1]:
## import stuff
import pandas as pd
import numpy as np
import os

 # This is ass. 2
 ## focus is on data wrangling and manipulation
 ### There are 10 queries to write
 
 
 Im Jupiter-Notebook sollen die einzelnen Analyseschritte detailliert beschrieben werden.
	- Gehen Sie insbesondere auf auch die Art und Weise ein, wie
		- die Daten aufbereiten wurden,
		- welche Methoden verwendet wurden und
		- wie die einzelnen Erkenntnisse bzw. Ergebnisse zustande kommen. 
- Für die Bewertung der Aufgaben ist nicht nur das Ergebnis relevant, sondern auch die Beschreibung des von Ihnen verwendeten Wegs, sowie Präsentation der Ergebnisse (Lesbarkeit, Angabe der Aufgabenummer).

In [2]:
## get data
##path = "https://raw.githubusercontent.com/VAWi-DataScience/Data-Analytics-with-Python/main/Lecture/03_Data_Wrangling/data/"
path = "https://raw.githubusercontent.com/Ph1lippK/DAPy/master/02_Assignment%20Data-20230529/"

##https://github.com/Ph1lippK/DAPy/tree/7804e0b4a8a4cb6df65774e5795007149effa935/02_Assignment%20Data-20230529

#Reading the files (dataframe = pd.read_filetype("name"))
customers = pd.read_csv(path+"//customers.csv", names= ['customer_id','customer_name','gender','age','home_address','zip_code','city','state','country'])
orders = pd.read_csv(path+"//orders.csv",names= ['order_id','customer_id','payment','order_date','delivery_date'])
products = pd.read_csv(path+"//products.csv", names= ['product_id','product_type','product_name','size,colour','price','p_quantity','description'])
sales = pd.read_csv(path+"//sales.csv", names= ['sales_id','order_id','product_id','price_per_unit','s_quantity','total_price'])

# Query 01
1. Decrease the price of all trousers by 30 percent and 
1. increase the price of all shirts by 10 percent. 
1. Print out the first five shirts and the last five pairs of trousers.

In [3]:
products.head()

,product_id,product_type,product_name,"size,colour",price,p_quantity,description
product_id,product_type,product_name,size,colour,price,p_quantity,description
0,Shirt,Oxford Cloth,XS,red,114,66,"A red coloured, XS sized, Oxford Cloth Shirt"
1,Shirt,Oxford Cloth,S,red,114,53,"A red coloured, S sized, Oxford Cloth Shirt"
2,Shirt,Oxford Cloth,M,red,114,54,"A red coloured, M sized, Oxford Cloth Shirt"
3,Shirt,Oxford Cloth,L,red,114,69,"A red coloured, L sized, Oxford Cloth Shirt"

In [4]:
## checking where I can find my trousers and shirts
# Get the unique values of the "product_id" column
unique_product_types = products["product_id"].unique()
# Print the unique product types
print(unique_product_types)

['product_type' 'Shirt' 'Jacket' 'Trousers']

In [5]:
## creating df for only trousers and shirts
products_trousers = products[products["product_id"] == "Trousers"]
#products_trousers.head()
products_shirts = products[products["product_id"] == "Shirt"]
#products_shirts.head()

In [11]:
## check for datatypes, since I want to multiple prices later
#products_trousers.dtypes
#products_shirts.dtypes

In [12]:
# Convert the price column from "products_trousers" and "products_shirts" from object to float
products_trousers["price"] = products_trousers["price"].astype(float)
products_shirts["price"] = products_shirts["price"].astype(float)
#products_trousers.dtypes

C:\Users\pknuhman\AppData\Local\Temp\ipykernel_15480\1334923936.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  products_trousers["price"] = products_trousers["price"].astype(float)
C:\Users\pknuhman\AppData\Local\Temp\ipykernel_15480\1334923936.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  products_shirts["price"] = products_shirts["price"].astype(float)

product_id       object
product_type     object
product_name     object
size,colour      object
price           float64
p_quantity       object
description      object
dtype: object

In [13]:
## persist df for later user before manipulating
products_trousers_original = products_trousers
products_shirts_original = products_shirts

In [16]:
# Decrease the "price" column by 30 percent
#products_trousers["price"] = products_trousers["price"] * 0.7
products_trousers_discount = products_trousers
products_trousers_discount["price"] = products_trousers_discount["price"] * 0.7
# Print the updated DataFrame
products_trousers_discount.head()

C:\Users\pknuhman\AppData\Local\Temp\ipykernel_15480\2925158286.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  products_trousers_discount["price"] = products_trousers_discount["price"] * 0.7

,product_id,product_type,product_name,"size,colour",price,p_quantity,description
840,Trousers,Chinos,XS,red,70.0,69,"A red coloured, XS sized, Chinos Trousers"
841,Trousers,Chinos,S,red,70.0,62,"A red coloured, S sized, Chinos Trousers"
842,Trousers,Chinos,M,red,70.0,54,"A red coloured, M sized, Chinos Trousers"
843,Trousers,Chinos,L,red,70.0,44,"A red coloured, L sized, Chinos Trousers"
844,Trousers,Chinos,XL,red,70.0,71,"A red coloured, XL sized, Chinos Trousers"

In [17]:
# increase the "price" column by 10 percent
products_shirts_increase = products_shirts
products_shirts_increase["price"] = products_shirts_increase["price"] * 1.1
# Print the updated DataFrame
products_shirts_increase.head()

C:\Users\pknuhman\AppData\Local\Temp\ipykernel_15480\3210670158.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  products_shirts_increase["price"] = products_shirts_increase["price"] * 1.1

,product_id,product_type,product_name,"size,colour",price,p_quantity,description
0,Shirt,Oxford Cloth,XS,red,125.4,66,"A red coloured, XS sized, Oxford Cloth Shirt"
1,Shirt,Oxford Cloth,S,red,125.4,53,"A red coloured, S sized, Oxford Cloth Shirt"
2,Shirt,Oxford Cloth,M,red,125.4,54,"A red coloured, M sized, Oxford Cloth Shirt"
3,Shirt,Oxford Cloth,L,red,125.4,69,"A red coloured, L sized, Oxford Cloth Shirt"
4,Shirt,Oxford Cloth,XL,red,125.4,47,"A red coloured, XL sized, Oxford Cloth Shirt"