In [1]:
## import stuff
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import shapiro, levene

# This is Ass. 4 - Correlation and regression

focus is on statistics, correlation and regression 
There are 3 steps to do:
1. Data Preperation
2. Correlation
3. Create multiple regression model for life expectancy
4. Improve regression model and give recommendations to WHO

General principle: 

Im Jupiter-Notebook sollen die einzelnen Analyseschritte detailliert beschrieben werden. - Gehen Sie insbesondere auf auch die Art und Weise ein, wie - die Daten aufbereiten wurden, - welche Methoden verwendet wurden und - wie die einzelnen Erkenntnisse bzw. Ergebnisse zustande kommen.

Für die Bewertung der Aufgaben ist nicht nur das Ergebnis relevant, sondern auch die Beschreibung des von Ihnen verwendeten Wegs, sowie Präsentation der Ergebnisse (Lesbarkeit, Angabe der Aufgabenummer).

# 1. Data Preparation
Import and Clean

In [4]:
## get data
data = pd.read_csv("04_Assignment_data.csv")
data.head()

,country,year,status,life_expectancy,adult_mortality,alcohol,percentage_expenditure,hepatitis_b,measles,polio,total_expenditure,diphtheria,hiv/aids,gdp,schooling,population
0,Afghanistan,2015,Developing,65.0,263.0,0.010000,71.279624,65.0,831,52.0,8.16,65.0,0.1,584.259210,10.1,33736494.0
1,Albania,2015,Developing,77.8,74.0,4.600000,364.975229,99.0,0,99.0,6.00,99.0,0.1,3954.227830,14.2,28873.0
2,Algeria,2015,Developing,75.6,19.0,5.288333,0.000000,95.0,63,95.0,7.08,95.0,0.1,4132.762920,14.4,39871528.0
3,Angola,2015,Developing,52.4,335.0,5.288333,0.000000,64.0,118,52.0,7.08,64.0,1.8,3695.793748,11.4,2785935.0
4,Antigua and Barbuda,2015,Developing,76.4,13.0,5.288333,0.000000,99.0,0,86.0,7.08,99.0,0.2,13566.954100,13.9,NaN

In [24]:
data[(data['country'] == 'Afghanistan') & (data['year'] == 2015)]

,country,year,status,life_expectancy,adult_mortality,alcohol,percentage_expenditure,hepatitis_b,measles,polio,total_expenditure,diphtheria,hiv/aids,gdp,schooling,population
0,Afghanistan,2015,Developing,65.0,263.0,0.01,71.279624,65.0,831,52.0,8.16,65.0,0.1,584.25921,10.1,33736494.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 2938 non-null   object
 1   year                    2938 non-null   int64
 2   status                  2938 non-null   object
 3   life_expectancy         2938 non-null   float64
 4   adult_mortality         2938 non-null   float64
 5   alcohol                 2938 non-null   float64
 6   percentage_expenditure  2938 non-null   float64
 7   hepatitis_b             2938 non-null   float64
 8   measles                 2938 non-null   int64
 9   polio                   2938 non-null   float64
 10  total_expenditure       2938 non-null   float64
 11  diphtheria              2938 non-null   float64
 12  hiv/aids                2938 non-null   float64
 13  gdp                     2938 non-null   float64
 14  schooling               2775 non-null   float64
 15  population              2286 non-null   float64
dtypes: float64(12), int64(2), object(2)
memory usage: 367.4+ KB

In [6]:
##Check for missing values
print(data.isna().sum()) # Check the number of missing values in each column

country                     0
year                        0
status                      0
life_expectancy             0
adult_mortality             0
alcohol                     0
percentage_expenditure      0
hepatitis_b                 0
measles                     0
polio                       0
total_expenditure           0
diphtheria                  0
hiv/aids                    0
gdp                         0
schooling                 163
population                652
dtype: int64

In [14]:
mean_schooling_per_country = data.groupby('country')['schooling'].mean()
mean_schooling_per_country.head()

country
Afghanistan             8.21250
Albania                12.13750
Algeria                12.71250
Angola                  8.06250
Antigua and Barbuda    10.68125
Name: schooling, dtype: float64

In [15]:
mean_population_per_country = data.groupby('country')['population'].mean()
mean_population_per_country.head()

country
Afghanistan            9.972260e+06
Albania                6.969116e+05
Algeria                2.164983e+07
Angola                 1.014710e+07
Antigua and Barbuda             NaN
Name: population, dtype: float64